* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #eaeaea;
    padding: 40px;
}

.cv {
    max-width: 900px;
    margin: auto;
    background: white;
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* CỘT TRÁI */
.left {
    width: 35%;
    background: #2f5d62;
    color: white;
    padding: 30px;
    text-align: center;
}

.left img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    margin-bottom: 15px;
}

.left h1 {
    font-size: 24px;
    margin-top: 10px;
}

.left h2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 25px;
}
.avatar {
  text-align: center;
  margin-bottom: 20px;
}

.avatar img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #2c7be5;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.left .section {
    text-align: left;
    margin-top: 25px;
}

.left h3 {
    border-bottom: 1px solid rgba(255,255,255,0.4);
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.left ul {
    list-style: none;
}

.left li {
    margin-bottom: 8px;
    font-size: 14px;
}

.left p {
    font-size: 14px;
    margin-bottom: 8px;
}

/* CỘT PHẢI */
.right {
    width: 65%;
    padding: 35px;
}

.right section {
    margin-bottom: 30px;
}

.right h3 {
    color: #2f5d62;
    border-left: 5px solid #2f5d62;
    padding-left: 10px;
    margin-bottom: 10px;
}

.right p, .right li {
    font-size: 15px;
    line-height: 1.6;
}

.right ul {
    padding-left: 20px;
}
